<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="main-header">
    <div class="container nav-wrapper">
      <h1 class="logo">Superhero Website</h1>

      <nav class="main-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/hetjur/ny">New hero</a></li>
          <li><a href="/">All heroes</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="container">